extends ../layouts/navbar

block content
    .container
        if error
            .alert.alert-warning.text-center #{error.message}
        .row
            .col.col-4-lg
            .col.col-4-lg.text-center.jumbotron
                .display-4.p-3 Login
                form.form(method='POST')
                    .form-group.mx-sm-3.mb-2
                        label.sr-only(for='username') Username
                        input#username.form-control(type='text', name='username', placeholder='Username')
                    .form-group.mx-sm-3.mb-2
                        label.sr-only(for='password') Password
                        input#password.form-control(type='password', name='password', placeholder='Password')
                    button.btn.btn-success.mt-4(type='submit') Magic in here
                    br
                    a.btn.btn-primary.mt-4(href='/auth/facebook') Login with Facebook
            .col.col-4-lg