html
    head
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet")
    body
        nav.navbar.navbar-light.bg-light.navbar-expand-lg
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                    a.nav-item.nav-link.active(href='/')
                        | Home 
                        span.sr-only (current)
                    a.nav-item.nav-link(href='/sources') Sources
                    a.nav-item.nav-link(href='/') Admin
                    a.nav-item.nav-link(href='/auth/login') Login
                    a.nav-item.nav-link(href='/auth/register') Signup
            form.form-inline
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        
        block content