html
    head
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet")
        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='/js/getCookie.js')
        script(src='/js/sendRequest.js')
    body
        nav.navbar.navbar-light.bg-light.navbar-expand-lg
            #navbarNavAltMarkup.navbar-collapse
                .navbar-nav
                    a.nav-item.nav-link.active(href='/')
                        | Home 
                        span.sr-only (current)
                    a.nav-item.nav-link(href='/sources') Sources
                    if userLogin
                        a.nav-item.nav-link(href='/users/viewOwnSources') My_Sources
                        a.nav-item.nav-link(href='/users/viewProfile') My_Profile
                    a.nav-item.nav-link(href='/') Admin
                    
            form.form-inline
                if userLogin
                    .btn.btn-success=(userLogin.firstName || '') + ' ' + (userLogin.lastName || '')
                    a.btn.btn-danger(href='/auth/logout') Logout
                else
                    a.btn.btn-info(href='/auth/login') Login
                    a.btn.btn-warning(href='/auth/register') Signup
        block content