extends ../layouts/navbar

block content
    h1.container.jumbotron.text-danger.text-center.display-2.p-0 ERROR 400
    .container.jumbotron.text-center
        h2 URL not found : 
            span.text-success #{url}