extends ../layouts/navbar

block content
    h1.container.jumbotron.text-danger.text-center.display-2.p-0 ERROR 505
    .jumbotron
        h2.text-success Missing environments variable in .env file 
        pre Customized .env configuration file
        p You will need a Cloudinary account to run this demo project. You don't have an account, sign up for free. 
            a.btn.btn-info(href='https://cloudinary.com/users/register/free') HERE