extends ../layouts/navbar

block content
    .container.jumbotron.text-center
        h1.text-center Sources Sharing
        a.btn.btn-success(href='/sources/upSource') Upload Source
    .container-fluid.row.display-sources
        if sources
            each s in sources
                .col.col-lg-4.text-center.bg-light.m-2.p-4
                    h1=s.title
                    iframe(src=cloudinary.url(s.file_data.public_id), width='400', height='400')
        else
            .container-fluid.jumbotron.text-center
                h1.display-1 Loading ....
    .jumbotron.text-center.mt-4
        h1.text-center Sources Sharing
        a.btn.btn-success(href='/sources/upSource') Upload Source
    if !sources
        script(src='/js/source.js')