extends ../layouts/navbar

block content
    h1.jumbotron.text-center.p-0
        .display-2 PASSWORD
    .container-fluid.row
        .col.col-4-lg
        .col.col-4-lg
            form.jumbotron(method='POST')
                input(type='hidden', value=csrfToken, name='_csrf')
                if errors
                    each e in errors
                        .alert.alert-danger=e
                .form-group
                    label(for='password') Password
                    input#password.form-control.alert.alert-warning(type='password', name='password', placeholder='Enter old password')
                .form-group
                    label(for='password1') New Password
                    input#password1.form-control(type='password', name='password1', placeholder='Enter new password')
                .form-group
                    label(for='password2') Confirm Password
                    input#password2.form-control(type='password', name='password2', placeholder='Enter new password')
                .form-group.text-center
                    button.btn.btn-primary.mb-2(type='submit') Save password
        .col.col-4-lg